{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'store/css/style.css' %}">
    <title>E-Commerce</title>
</head>
<body>
<main class="main-content">
    <header>
        <form class="top-bar" role="search" method="get" action="{% url 'catalog' %}">
            <label for="cat"></label>
            <select id="cat" name="cat" class="cat-btn">
                <option value="">Tutte</option>
                {% for c in categories %}
                    <option value="{{ c.id }}"
                            {% if c.id|stringformat:"s" == cat %}selected{% endif %}>
                        {{ c.name }}
                    </option>
                {% endfor %}
            </select>
            <input class="top-input" name="q" type="search" placeholder="Cerca prodotti…" value="{{ q }}">
            <button class="top-button" type="submit">Cerca</button>
        </form>
    </header>
    <div>
        {% block content %} {% endblock %}
    </div>
</main>
</body>
</html>