{% extends "store/base.html" %}
{% load static %}

{% block content %}
    {% if user.is_authenticated %}
        <h1>Ciao {{ user.username }}</h1>
        <div class="welcome">
            {% if user.is_store_manager %}
                <a href="{% url 'accounts:manager' %}" class="btn-style">Accedi al pannello da manager</a>
            {% endif %}
            <form method="post" action="{% url 'accounts:logout' %}">
                {% csrf_token %}
                <button type="submit" class="btn-style">Logout</button>
            </form>
        </div>
    {% else %}
        <h1>Benvenuto ospite</h1>
        <div class="unlogged-user">
            <p>Crea un nuovo account oppure effettua il login per iniziare ad acquistare!</p>
            <div>
                <a href="{% url 'accounts:signup' %}" class="btn-style signup-btn">Sing Up</a>
                <a href="{% url 'accounts:login' %}" class="btn-style login-btn">Login</a>
            </div>
        </div>
    {% endif %}

    <div class="wrapper">
        <div class="grid-layout">
            {% for product in page_obj %}
                <div class="grid-element">
                    <img class="product-img" src="{% static "store/img/product_img.jpeg" %}" alt="product_img">
                    <h2>{{ product.name }}</h2>
                    <h3 class="price">{{ product.price }} &#8364;</h3>
                    <h5 class="product-desc">{{ product.description }}</h5>
                    {% if product.available == 1 %}
                        {% if product.stock < 5  %}
                            <h4 class="product-stock">Rimangono solo: {{ product.stock }} pezzi</h4>
                        {% endif %}
                    {% else %}
                        <h4 class="product-stock">Esaurito!</h4>
                    {% endif %}
                    <a href="{% url 'add_to_cart' product.id %}" class="btn-style">Aggiungi articolo al carrello</a>
                </div>
                {% empty %}
                <p>Nessun prodotto disponibile.</p>
            {% endfor %}
        </div>
    </div>

    <nav class="mt-4">
        <ul class="pagination">
            {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}">&laquo;</a>
                </li>
            {% endif %}

            {% for n in page_obj.paginator.page_range %}
                <li class="page-item {% if page_obj.number == n %}active{% endif %}">
                    <a class="page-link" href="?page={{ n }}">{{ n }}</a>
                </li>
            {% endfor %}

            {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}">&raquo;</a>
                </li>
            {% endif %}
        </ul>
    </nav>
{% endblock %}