{% extends "store/base.html" %}

{% load static %}
<link rel="stylesheet" href="{% static "store/css/style.css" %}">

{% block content %}
    <h1 class="sing-up-text">Registrati</h1>
    <form method="post" class="sign-up-wrapper">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn-style">Crea un account</button>
    </form>
    <div class="unlogged-user">
        <p>Hai già un account?</p>
        <a href="{% url 'accounts:login' %}" class="btn-style"> Log In </a>
    </div>
{% endblock %}