{% extends 'store/base.html' %}
{% load static %}

<link rel="stylesheet" href="{% static "store/css/style.css" %}">

{% block content %}
    <h1> Ciao {{ user_obj.name }}</h1>
    <div class="user-info">
        <h2> Le tue informazioni:</h2>
        <h3>Nome e Cognome: {{ user_obj.name }} {{ user_obj.surname }}</h3>
        <h3> Username: {{ user_obj.username }}</h3>
        <h3 class="domicile">Indirizzi per Spedizioni:</h3>
        <ul>
            <li>
                {{ user_obj.address }}, {{ user_obj.city }}, {{ user_obj.CAP }}, {{ user_obj.state }}
            </li>
        </ul>
    </div>
    <div class="user-orders">
        {% if orders %}
            <h2>Ecco i tuoi ordini:</h2>
            {% for o in orders %}
                <ul>
                    <li>
                        <h3>Ordine effettuato in data: {{ o.completed_at|date:"j F Y H:i"}} <br> Dall'utente: {{ o.user }} <br> Stato
                            dell'ordine: {{ o.status }}</h3>
                        <h3 class="order-products">Contenuto dell'ordine:</h3>
                        <ul>
                            {% for item in o.items.all %}
                                <li>
                                    {{ item.product.name }} -
                                    {{ item.quantity }}
                                    {% if item.quantity > 1 %}
                                        pezzi
                                    {% else %}
                                        pezzo
                                    {% endif %}
                                    - {{ item.total_cost }}€
                                </li>
                            {% endfor %}
                        </ul>
                        <h3>Totale: {{ o.total_order_cost }} &#8364;</h3>
                        <h3>Hai pagato con: {{ o.payment_method }}</h3>
                        <h3>L'ordine verrà spedito in: {{ o.shipping_address }}</h3>
                    </li>
                </ul>
            {% endfor %}
        {% else %}
            <h3>Quando effettuerai un ordine comparirà qua sotto</h3>
        {% endif %}
    </div>
{% endblock %}