.main-content {
    max-width: 100%;
    align-self: center;
}

/*template base */

.base-form {
    padding: 0;
    font-size: 16px;
}

.form-wrapper {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: white;
}

.top-bar {
    padding: 4px 12px;
    border-bottom: black solid 1px;
}

.cat-btn {
    display: inline-block;
    height: 28px;
    vertical-align: middle;
    border-radius: 20px;
    border: 1px solid lightsalmon;
}

.top-input {
    display: inline-block;
    width: 78%;
    height: 28px;
    vertical-align: middle;
    border-radius: 20px;
    border: 1px solid lightsalmon;
}

.top-btn {
    display: inline-block;
    width: 4%;
    height: 28px;
    vertical-align: middle;
    background-color: brown;
    border-radius: 10px;
    border: dimgray solid 1px;
    padding: 5px;
    font-weight: bold;
    transition: background .2s ease-in-out;
    text-decoration: none;
    color: antiquewhite;
}

.top-btn:hover,
.top-btn:focus {
    background-color: sandybrown;
    color: white;
    outline: none;
    cursor: pointer;
}

.cart-btn,
.user-btn {
    display: inline-block;
    height: 22px;
    background-color: white;
    border: none;
    margin: 0 0 0 20px;
    vertical-align: middle;
}

/* template catalog */

.welcome {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.welcome h1 {
    flex: 5 1 0;
}

.welcome form {
    margin: 0;
}

.unlogged-user {
    display: flex;
    width: 100%;
    align-items: center;
    margin-bottom: 10px;
}

.unlogged-user h1 {
    flex: 5 1 0;
}

.signup-btn,
.login-btn {
    margin-left: 5px;
    align-self: flex-end;
}

.wrapper{
    max-width: 1350px;
    margin-inline: auto;
    padding-inline: 16px;
}

.grid-layout {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 16px;
}

.grid-element {
    margin-bottom: 30px;
    border: 1px solid lightsalmon;
    padding: 0 0 10px 11px;
}


.product-img {
    margin-top: 10px;
}

.grid-element h3, h5, img:hover{
    cursor: pointer;
}

.grid-element h3 {
    padding: 0;
    margin: 0;
    max-width: 300px;
}

.grid-element h5 {
    padding: 0;
    color: dimgray;
    max-width: 300px;
}

.price {
    margin: 0 0 5px 0;
}

.product-stock {
    color: red;
}

.product-desc {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 0 0 10px 0;
}

.price {
    color: #333333;
    font-size: 20px;
    margin-bottom: 3px;
}

.btn-style {
    background-color: brown;
    border-radius: 10px;
    border: dimgray solid 1px;
    padding: 5px;
    font-weight: bold;
    transition: background .2s ease-in-out;
    text-decoration: none;
    color: antiquewhite;
}

.btn-style:hover,
.btn-style:focus {
    background-color: sandybrown;
    color: white;
    outline: none;
    cursor: pointer;
}

.pagination{
  display: flex;
  list-style: none;
  gap: 8px;
  padding: 0;
  justify-content: center;
}

.pagination .page-item a{
  display: block;
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-decoration: none;
  color: #333;
}

.pagination .page-item.active a{
  background: #333;
  color: #fff;
  pointer-events: none;
}

/* template cart */

.cart-wrapper {
    display: grid;
    grid-template-columns: 5fr 1fr;
    gap: 32px;
    align-items: start;
}

.cart-items {
    max-width: 100%;
}

.cart-article {
    display: flex;
    align-items: center;
    gap: 24px;
    padding: 12px 0;
    border-bottom: 3px solid lightsalmon;
    height: 50px;
    vertical-align: center;
}

.cart-article h3 {
    display: inline-block;
    margin: 0;
    padding: 0;
}

.product-name {
    flex: 2.5 1 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.info {
    flex: 2.75 1 0;
}

.product-price {
    flex: 1;
}

.product-quantity {
    flex: 1;
}

.cart-trash-bin {
    flex: 1;
    height: 30px;
    width: 30px;
}

.cart-trash-bin h3 {
    flex: 0.5;
}

.checkout {
    position: sticky;
    top: 16px;
    border: 1px solid gray;
    padding: 16px;
    border-radius: 8px;
    margin-top: 10px;
    vertical-align: center;
    text-align: center;
}

/* checkout template*/

.checkout-title {
    text-align: center;
}

.checkout-resume {
    display: grid;
    grid-template-columns: 8fr 1fr;
    border: 1px solid gray;
    border-radius: 10px;
    padding: 32px;
}

.checkout-resume h2, h3 {
    margin: 0 0 20px 0;
}

.checkout-text-column label {
    font-weight: bold;
    font-size: 20px;
}

.checkout-text-column select {
    height: 24px;
    margin-left: 10px;
}

.checkout-anchor-column {
    display: grid;
    gap: 4px;
    justify-content: center;
    align-items: center;
}

.checkout-anchor-column a{
    display: inline-block;
    align-items: start;
    margin: 0 auto;
    width: max-content;
    padding: 8px;
}

.address-select-wrapper {
    margin-top: 10px;
}

/* manager template */

.manager-wrapper {
    border: 2px solid #ddd;
    padding: 20px;
    margin-bottom: 10px;
}

.manager-grid {
    display: grid;
    grid-template-columns: repeat(3 , minmax(200px, 1fr));
    gap: 12px;
    margin-top: 10px;
}

.manager-order-grid {
    grid-template-columns: repeat(1, minmax(200px, 1fr));
}

.manager-wrapper h1 {
    padding: 0;
    margin: 3px ;
}

.manager-view-item {
    display: flex;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05);
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.manager-view-item:hover {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

.manager-view-item h3 {
    margin: 0;
    padding: 0;
}

.manager-order-text {
    text-align: left;
    justify-content: space-between;
}

.delete-update-wrapper {
    display: flex;
    margin-left: 3px;
}

.delete-update {
    margin-bottom: 10px;
}

.manager-add {
    background-color: #2ecc71;
    font-size: 14px;
}

.manager-add:hover {
    background-color: darkgreen;
}

.manager-update {
    background-color: #4a90e2;
    margin-left: 2px;
    font-size: 14px;
}

.manager-update:hover {
    background-color: midnightblue;
}

.manager-delete {
    background-color: #e74c3c;
    font-size: 14px;
}

.manager-delete:hover {
    background-color: darkred;
}
